/* =======================
   HALAMAN PRINT TICKET
======================= */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('/assets/gambar/bgfix2.jpg')
}

.ticket-page {
    min-height: 100vh;
    padding: 90px 20px 40px 20px;
}

/* judul */
.ticket-title {
    font-family: 'Skranji';
    font-size: 35px;          
    font-weight: 700;         
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;      
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); 
}

/* Box besar */
.ticket-container {
    max-width: 900px;
    margin: auto;
    background: rgba(255,255,255,0.85);
    padding: 30px;
    border-radius: 18px;
}

/* Card tiket */
.ticket-card {
    background: #0c5f59;
    border-radius: 18px;
    padding: 18px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Kiri */
.ticket-left {
    flex: 1;
}

/* Header panjang */
.ticket-header {
    width: 75%;
    height: 30px;
    background: #18d4c4;
    border-radius: 8px;
    margin-bottom: 18px;
}

/* Info bawah */
.ticket-info {
    display: flex;
    gap: 15px;
}

.info-box {
    width: 120px;
    height: 35px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 8px;
}

/* Kanan */
.ticket-right {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.date-box {
    width: 120px;
    height: 14px;
    background: #38cfc0;
    border-radius: 5px;
}

.btn-ticket {
    width: 110px;
    height: 34px;
    border: none;
    border-radius: 8px;
    background: #20d6c4;
    cursor: pointer;
}

/* Hover */
.btn-ticket:hover {
    background: #14b8a6;
}

/* Responsive */
@media (max-width: 768px) {
    .ticket-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .ticket-right {
        align-items: flex-start;
        width: 100%;
    }

    .ticket-title {
        font-size: 34px;
    }

    .ticket-header {
        width: 100%;
    }
}